html *{
  box-sizing: border-box;
  font-family: "Roboto", serif;
  margin: 0;
  padding: 0;
}

.hero-bg {
  background-color: #1f2937;
  padding: 0px 48px;
}

.hero-header, 
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
}

.hero-header {
  margin: 0 auto;
  padding-top: 24px;
  margin-bottom: 140px;  
}

.hero-content {
  margin: 0 auto;
  margin-top: 140px;
  padding-bottom: 140px;
}

.hero-header h1 {
  font-size: 24px;
  color: #f9faf8;
}

.hero-header ul {
  color: #e5e7eb;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 18px;
  gap: 22px;
}

.main-text {
  margin-right: 24px;
  align-content: space-between;
  flex: 1;
}

.image-placeholder {
  display: flex;
  flex: 1;
  background-color: #6d747d;
  color: #f9faf8;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
  padding: 120px 40px;
}

.main-text h1 {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.main-text p {
  margin-bottom: 12px;
  font-size: 18px;
  color: #e5e7eb;
}

.button-first {
  background-color: #3882f6;
  padding: 10px 38px;
  font-size: 18px;
  font-weight: bold;
  color: #f9faf8;
  border: 0px;
  border-radius: 10px;
}

.info-wrapper {
  text-align: center;
  padding: 0px 48px;
}

.info-wrapper h1 {
  margin: 60px 0px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}

.info-content {
  display: flex;
  justify-content: center;
  gap: 38px;
}

.info {
  max-width: 150px;
  margin-bottom: 100px;
}

.info-box {
  border: solid 4px #3882f6;
  border-radius: 10px;
  height: 150px;
  margin-bottom: 8px;
}

.info-text {
  color: #1f2937;
  font-weight: 300;
}

.quote-bg {
  padding: 100px 48px;
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-wrapper {
  max-width: 1050px;
  margin: 40px 0px;
}

.phrase {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  max-width: 800px;
  margin-bottom: 12px;
}

.author {
  font-size: 24px;
  font-weight: 700;
  max-width: 1050px;
  padding-right: 32px;
  text-align: end;
}

.action-bg {
  padding: 0px 48px;
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-wrapper {
  padding: 48px 110px;
  gap: 18px;
  flex: 1;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  color: #f9faf8;
}

.button-second {
  border: solid 2px #f9faf8;
  background-color: #3882f6;
  padding: 8px 42px;
  font-size: 18px;
  font-weight: bold;
  color: #f9faf8;
  border-radius: 10px;
}

.footer-bg {
  padding: 100px;
  background-color: #1f2937;
}